/* reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

/* typography */

html {
	font-size: 10px;
}

p,
a,
label,
input, 
button {
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-size: 3em;
}

p, input {
	font-size: 1.6em;
}

label, button {
	font-size: 1.6em;
}

/* font colours */

#social-links a {
	color: white;
}

main > h1, 
label,
input,
footer > a:link, 
footer > a:visited  {
	color: hsl(243, 87%, 12%);
}

main > p {
	color: hsl(0, 0%, 50%)
}


/* layout */

#main-wrapper {
	background: top / 100% 540px no-repeat url(images/bg-intro.svg);
	padding: 30px;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	font-size: 2.4em;
}

#social-links > li {
	display: inline-block;
	margin: 0 0 0 25px;
}

#main-illustration-wrapper {
	text-align: center;
	margin: 0 auto;
	width: 400px;
	margin-bottom: 25px;
}

#main-illustration-wrapper > img {
	max-width: 100%;
	height: auto;
}

main, footer {
	margin: 0 auto;
	max-width: 500px;
}

main {
	flex: 1;
}

main > p, main > h1 {
	margin-top: 30px;
}

#sign-up-form {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#sign-up-form > * {
	margin-bottom: 10px;
}

label {
	font-weight: bold;
}

input {
	border: 1px solid hsla(0, 0%, 50%, 50%);
	border-radius: 3px;
	padding: 0.7em;
	transition: border 0.2s, background-color 0.2s;
}

input:hover {
	border: 1px solid hsla(0, 0%, 50%, 70%);
}

input:focus {
	background-color: hsla(243, 86%, 30%, 5%);
}

button {
	background-color: hsl(163, 95%, 43%);
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
	padding: 0.7em;
	width: 10em;
	cursor: pointer;
	transition: background-color 0.2s;
}

button:hover {
	background-color: hsl(163, 95%, 30%);
}

footer {
	display: flex;
/*	justify-content: flex-end;*/
/*	align-items: flex-end;*/
}

footer > a {
	
}